<h1>Question Pack Creator</h1>
<div id="creator-area">
    <div id="question-list">
        <ol>
            
        </ol>
    </div>
    <div id="question-editor">
        <label>Question:</label>
        <input id="question-input" type="text" placeholder="Enter your question here..">
        <hr>
        <br/>
        <label>Answer 1:</label>
        <input id="answer1-input" class="answer-input" type="text" placeholder="Enter answer 1 here..">
        <br/>
        <label>Answer 2:</label>
        <input id="answer2-input" class="answer-input" type="text" placeholder="Enter answer 2 here..">
        <br/>
        <label>Answer 3:</label>
        <input id="answer3-input" class="answer-input" type="text" placeholder="Enter answer 3 here..">
        <br/>
        <button id="add-question">Add</button>
    </div>
</div>