<h1>Question Pack Creator</h1>
<div id="creator-area">
    <div id="question-list">

    </div>
    <div id="question-editor">
        <label>Question:</label>
        <input type="text">
        <hr>
        <br/>
        <label>Answer 1:</label>
        <input type="text">
        <br/>
        <label>Answer 2:</label>
        <input type="text">
        <br/>
        <label>Answer 3:</label>
        <input type="text">
        
    </div>
</div>