
<h1 id="ingame-logo">friendtest.io</h1>
<audio id="backgroundMusic" autoplay loop><source src="Playdate.wav" type="audio/wav" ></audio>
<div id="roomCode">
	<p class="roomCodeText">Your room key:</p>
	<span class="roomCode"></span>
</div>

<div id="content-area">
	<p id="description">
		how 2 play
	</p>
	<input type="button" id="startButton"/>
	<div id="host-options">
		<!-- <h2>Host Options</h2> -->
		<label>Answer Timer (secs):</label><button onclick="this.nextElementSibling.stepUp()" style="border-radius: 0px 8px 8px 0px">+</button><input type="number" id="answerTimer" name="answerTimer" value="30"><button onclick="this.previousElementSibling.stepDown()" style="border-radius: 8px 0px 0px 8px">-</button><br/></input>
		<label>Questions Per Rounds:</label><button onclick="this.nextElementSibling.stepUp()" style="border-radius: 0px 8px 8px 0px">+</button><input type="number" id="numberOfQuestions" name="numberOfQuestions" value="5"/><button onclick="this.previousElementSibling.stepDown()" style="border-radius: 8px 0px 0px 8px">-</button><br/></input>
		<label>Announcer:</label><input type="checkbox" id="announcer" name="announcer"><br/></input>
	</div>
	<div id="displaynamepopup">
    <h1>Enter a display name</h1>
    <p>This can be whatever you want it to be so go wild!</p>
    <input type="text" id="displaynameinput" required placeholder="Enter display name..">
	<br/>
    <button id="displaynamesubmit">Lets Go!</button>
</div>
</div>
<div id="playersContainer">
	<div id="playerWrap">
	</div>
</div>
