
<h1 id="ingame-logo">friendtest.io</h1>

<div id="roomCode">
	<p class="roomCodeText">Your room key:</p>
	<span class="roomCode"></span>
</div>

<div id="content-area">
	<p id="description">
		how 2 play
	</p>
	<button id="startButton">Start Game</button>
	<div id="host-options">
		<h2>Host Options</h2>
		Answer Timer (secs):<input type="number" id="answerTimer" name="answerTimer" value="30"><br/></input>
		Number Of Rounds:<input type="number" id="numberOfRounds" name="numberOfRounds" value="3"/><br/></input>
		Announcer:<input type="checkbox" id="announcer" name="announcer"><br/></input>
	</div>

</div>
<div id="playersContainer">
	<div id="playerWrap">
	</div>
</div>
