
<div class="symbol top-left">+</div>
<div class="symbol top-right">@</div>
<div class="symbol bottom-left">#</div>
<div class="symbol bottom-right">&</div>

<div id="content-area">

    <h1 id="logo">Friend Test</h1>
    <p id="description">
      Find out if your friends secretly hate you.
    </p>

    <button id="hostButton">Host Game</button>
    <br/>

    <div id="joinDiv">
        <input type="text" id="joinField" name="joinField" placeholder="Enter room key.." />
        <button id="joinButton">Join Game</button>
    </div>

    <div id="playersContainer">

    </div>

<div id="content-area">
