<h1 id="logo">Friend Test</h1>
<p id="description">
	im gay
</p>
<button id="startButton">Start Game</button>
<div id="host options">
	<input type="number" id="answerTimer" name="answerTimer" value=""/>
	<input type="number" id="numberOfRounds" name="numberOfRounds" value="3"/>
	<input type="checkbox" id="announcer" name="announcer" value="Announcer"/>

</div>
<div id="displaynamepopup">
    <h3>Enter a display name</h3>
    <p>This can be whatever you want it to be so go wild!</p>
    <input type="text" id="displaynameinput" required />
    <button id="displaynamesubmit">Lets Go!</button>
</div>
<div id="playersContainer">

</div>
